<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DDD3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>DispatcherFilter</display-name>
    <filter-name>DispatcherFilter</filter-name>
    <filter-class>ddd.base.DispatcherFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DispatcherFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:beans.xml</param-value>
  </context-param>
  <listener>
    <listener-class> 
        org.springframework.web.context.ContextLoaderListener  
    </listener-class>
  </listener>
  <listener>
    <listener-class>    
        org.springframework.web.context.request.RequestContextListener    
    </listener-class>
  </listener>
  <servlet>
    <servlet-name>FacadeServlet</servlet-name>
    <servlet-class>org.cqut.servlet.FacadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacadeServlet</servlet-name>
    <url-pattern>/FacadeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>ddd.simple.util.file_upload_download.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
    
    <servlet>
    <description></description>
    <display-name>ShowImgServlet</display-name>
    <servlet-name>ShowImgServlet</servlet-name>
    <servlet-class>ddd.simple.util.file_upload_download.ShowImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowImgServlet</servlet-name>
    <url-pattern>/ShowImgServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>480</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>DownLoadServlet</display-name>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>ddd.simple.util.file_upload_download.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/DownLoadServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>以Excel格式导出列表中的数据</display-name>
    <servlet-name>ExportListViewDataServlet</servlet-name>
    <servlet-class>ddd.simple.service.listview.ExportListViewDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportListViewDataServlet</servlet-name>
    <url-pattern>/ExportListViewData</url-pattern>
  </servlet-mapping>
</web-app>